<!DOCTYPE html>
<html>
    
<head>
    <meta charset="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Catalog</title>
</head>
    
<body>

    <h1>{{ items.name }}</h1>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}

            <ul>
                {% for message in messages %}
                    <li class="flash"> <strong> {{ message }} </strong></li>
                {% endfor %}
            </ul>
    
        {% endif %}
    {% endwith %}
    
    </br>
    {{items.description}}
    </br>
    </br> 
    <a href='{{url_for("editItem", category_id = categories.id, item_id = items.id)}}'>Edit</a>
    <a href='{{url_for("deleteItem", item_id = items.id)}}'>Delete</a>


</body>

</html>