{% extends "main.html" %}
{% block title %}Item{% endblock %}
{% block content %}
    {{ super() }}
            <h1>{{ dbinfo['current'].name }}</h1>
            </br>
            {{ dbinfo['current'].description }}
            </br>
            {{ dbinfo['current'].image }}
            </br>
            {{ dbinfo['current'].user.name }}
            </br>
            </br> 
            <a href="{{url_for('editItem', category_name = dbinfo['current'].category.name, item_name = dbinfo['current'].name, item_id = dbinfo['current'].id)}}">Edit</a>
            <a href="{{url_for('deleteItem', category_name = dbinfo['current'].category.name, item_name = dbinfo['current'].name, item_id = dbinfo['current'].id)}}">Delete</a>
{% endblock content %}