{% extends "main.html" %}
{% block title %}Item{% endblock %}
{% block content %}
    <div class="col-xs-6 col-sm-9 col-md-10" id="content">
        <h3>New Item</h3>
    
        <form action="{{url_for('newItem')}}" method="post">
    
            <p>Name:</p>
                <input type="text" size="30" name="name">

            <p>Description:</p>
                <input type="text" size="30" name="description">

            <p>Image URL:</p>
                <input type="text" size="30" name="image">

            <p>Category:</p>
                <select name="category">
                    {% for i in dbinfo['categories'] %}

                    <option value="{{i.id}}">{{i.name}}</option>

                    {% endfor %}
                </select>

            <input class="item-btn" type="submit" value="Create">

            <a class="item-btn" href='{{url_for("index")}}'>Cancel</a>
        
        </form>

{% endblock content %}