h1, h2, h3, h4 { color: #333333; }
p { color: #333333; }
a { 
    text-decoration: none;
    color: #000BBB;
    font-size: .75em;
}
.flash-message { background: #cee5F5; }
.flash {

}

#gsigninButton {
    display: inline-block;
}

#fbsigninButton {
    background-color: transparent;
    border: none;
    display: inline-block;
}